@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  background-color: whitesmoke;
  display: flex;
  place-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  height: 100vh;
  width: 100vw;
  padding: 3rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  width: 100vw;
  padding-left: 3rem;
  padding-right: 3rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.nav-item {
  text-decoration: none;
  text-decoration: underline;
  color: cornflowerblue;
}

.nav-li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.nav-li .v-line {
  border-left: 1px solid #000;
  height: 30px;
}

.container {
  height: 80vh;
  width: 50vh;
  background-color: black;
  padding: 2px;
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
}

.screen {
  grid-column: 1 / -1;
  color: white;
  text-align: right;
  padding: 0.5rem;
  font-size: 5rem;
  overflow: hidden;
  background-color: grey;
}

.btn {
  display: grid;
  place-content: center;
  background-color: rgb(242, 242, 242);
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  border-style: none;
}

.btn:hover {
  background-color: rgb(175, 175, 175);
}

.light-gray {
  background-color: rgb(198, 198, 198);
}

.light-gray:hover {
  background-color: rgb(100, 100, 100);
  color: white;
}

.orange {
  background-color: rgb(255, 165, 0);
}

.orange:hover {
  background-color: white;
}

.zero {
  grid-column: 1 / span 2;
}

/* pages styles */

.App {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-top: 3rem;
  justify-content: center;
}

.home-title {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.home-p {
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 4rem;
  text-align: justify;
  font-size: large;
  line-height: 1.7rem;
}

.quote-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: justify;
  padding: 3rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  width: 100vw;
  padding-left: 3rem;
  padding-right: 3rem;
}
