* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  background-color: antiquewhite;
  display: grid;
  place-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  height: 100vh;
}

.container {
  height: 80vh;
  width: 50vh;
  background-color: black;
  padding: 1px;
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
}

.screen {
  grid-column: 1 / -1;
  color: white;
  text-align: right;
  padding: 0.5rem;
  font-size: 5rem;
  overflow: hidden;
  background-color: grey;
}

.btn {
  display: grid;
  place-content: center;
  background-color: rgb(242, 242, 242);
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  border-style: none;
}

.btn:hover {
  background-color: rgb(175, 175, 175);
}

.light-gray {
  background-color: rgb(198, 198, 198);
}

.light-gray:hover {
  background-color: rgb(100, 100, 100);
  color: white;
}

.orange {
  background-color: rgb(255, 165, 0);
}

.orange:hover {
  background-color: white;
}

.zero {
  grid-column: 1 / span 2;
}
